.link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 340px;
    right: 0;
    width: 90px;
    height: 80px;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    background-color: burlywood;
    z-index: 1;
}

.image {
    height: 70px;
    aspect-ratio: 1 / 1;
}

@media (min-width: 768px) {
    .link {
        position: fixed;
    }
    
}