.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 100;
  animation: fadeIn 1s ease-in-out;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.imageContainer {
  width: 100%;
  max-width: 1200px; /* Ensures the image doesn’t go beyond 1200px */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.description {
  text-align: center;
  margin-top: 8px;
}

.exitButton {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.exitButton:hover {
  background-color: #666;
}

.text {
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
