.room {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100vw;
    aspect-ratio: 1 / 1;
    top: 0;
}

.connection {
    display: none;
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    border: 5px 0px 0px 0px solid black;
    width: 100%;
    overflow-y: auto;
    /*padding: 3em 120px 3em 3em;*/
}

.connections {
  
}



li {
    list-style-type: none;
}

@media (min-width: 768px) {
    .room {
        flex-direction: row;
    }

    .image {
        position: sticky;
        width: auto;
        height: 100vh;
    }

    .connection {
        display: block;
        position: fixed;
        translate: -50% -50%;
    }
    
    .connection:hover {
        filter: brightness(2) contrast(2);
    }
}

  
  /* .connection {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .connection:hover {
    filter: brightness(2) contrast(2);
  }
  
  @media (max-width: 768px) {
    .connection {
      width: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .connection {
      width: 20px;
    }
  } */
  
