.imageNPC {
    width: 200px;
}


.dialogs ul {
    padding: 0;
    margin: 0;
}

.pickUpButton {
    background-color: burlywood;
    border: 2px solid var(--brown);
    color: var(--brown);
    border-radius: 5px;
    margin: 10px;
}

.pickUpButton:hover {
    background-color: var(--brown);
    color: burlywood;
}

.text {
    background-color: rgb(0, 0, 0, 0.75);
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
}

@media (min-width: 768px) {
   .imageNPC {
        position: relative;
        width: 300px;
    } 

    .dialog {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 50vw;
        height: auto;
    }

    .dialogs ul {
        padding: 0;
        margin: 0;
    }

    .dialogs {
        position: fixed;
        left: 0;
        top: auto;
        bottom: 0;

    }
}

@media (min-width: 1400px) {
    .dialog {
        flex-direction: row;
        align-items: end;
    }

}