.room {
    display: flex;
    flex-direction: column;
}

.image {
    position: relative;
    width: 100vw;
    aspect-ratio: 1 / 1;
    top: 0;
}

.imageContainer {
  height: fit-content;
  aspect-ratio: 1 / 1;
}

.connection {
    display: none;
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    border: 5px 0px 0px 0px solid black;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.mapButton {
  display: none;
}

.connections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0;
  width: fit-content;
}

.connectionButton {
  background-color: burlywood;
  border: 2px solid var(--brown);
  color: var(--brown);
  font-weight: bolder;
  border-radius: 5px;
  width: 200px;
}

.connectionButton:hover {
  background-color: var(--brown);
  color: burlywood;
}



li {
    list-style-type: none;
}

@media (min-width: 1400px) {
  .description {
    width: auto;
  }

  .image {
    height: 100vh;
    width: auto;
  }
}

@media (min-width: 768px) {
    .room {
        flex-direction: row;
    }

    .imageContainer {
      background-color: burlywood;
      position: sticky;
      top: 0;
      height: 100vh;
      max-width: 50vw;
    }

    .description {
      padding: 3em 120px 3em 3em;
      width: 50vw;
      border-left: 2px solid var(--brown);
    }

    .image {
        position: sticky;
        max-width: 50vw;
        top: auto;
    }

    .connection {
        display: none;
        position: fixed;
        translate: -50% -50%;
    }
    
    .connection:hover {
        filter: brightness(2) contrast(2);
    }
}

