.container {
    text-align: "center";
    margin-top: "20px";
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 100px);
    gap: 5px;
    justify-content: center;
  }

.cell {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
  
  