#root {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
body {
    font-family: Arial, sans-serif;
  }
  
  .toolbar {
    margin-bottom: 10px;
  }
  
  .toolbar button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .toolbar button.active {
    background-color: #007bff;
    color: white;
  }
  
  .toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }

  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  

  
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  

  