.room {
    display: flex;
    flex-direction: row;
}

.image {
    height: 100vh;
    aspect-ratio: 1 / 1;
    position: sticky;
    top: 0;
}

.description {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    border: 5px 0px 0px 0px solid black;
    width: 100%;
    overflow-y: auto;

}