.overlay {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--brown);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 50;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
    overflow-y: auto;   
  }

  .darkRoom {
    overflow-y: hidden;
  }
  
  .overlay.open {
    transform: translateX(0); /* Slide into view */
  }
  
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 40; 
  }
  
  .toggle-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .toggleButton {
    padding: 10px 20px;
    background-color: burlywood;
    border: 2px solid var(--brown);
    color: var(--brown);
    font-weight: bolder;
    border-radius: 5px;
  }
  
  .toggleButton:hover {
    background-color: var(--brown);
    color: burlywood;
    border: 2px solid burlywood;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: burlywood;
    border: 2px solid var(--brown);
    color: var(--brown);
    font-weight: bolder;
    border-radius: 5px;
  }
  
  .closeButton:hover {
    background-color: var(--brown);
    color: burlywood;
    border: 2px solid burlywood;
  }

  .dialog {
    display: none;
  }
  