.admin {
    padding: 3rem;
}

.exit {
    color: white;
    text-decoration: none;
    margin-left: auto;
    padding: 0.6em 1.2em;
    border-radius: 0;
}

.exit:hover {
    background-color: grey;
    color: white;
}


.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.nav button {
    background: none;
    border-radius: 0;
    position: relative;
}

.nav button::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 2px;
    background-color: black;
    transition: width 0.3s ease; 
}

.nav button.active::after {
    width: 100%; 
}

.nav button:hover {
    background-color: grey;
}

.nav button.active {
    background-color: white;
    color: black;
}


