.toggleButton {
    position: absolute;
    top: 250px;
    right: 0;
    width: 90px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    z-index: 1;
  }
  
  .editorContent {
    background-color: burlywood;
    background-size: cover;
  }
  
  .editorContent.closed {
      display: none;
  }
  
  .editorContent.expanded {
    padding: 20px 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }
  
  .editorContent.expanded::-webkit-scrollbar {
    display: none;
  }
  
  .editorContent h2 {
    color: black;
    font-style: italic;
  }
  
  body:has(.editorContent.expanded) {
      overflow: hidden;
  }
  
  .image { 
    height: 60px;
    aspect-ratio: 1 / 1;
    left: 0;
  }
  
  .textarea {
    height: 75%;
    width: 75%;
    background: none;
    color: black;
    font-style: italic;
  }
  
  @media (min-width: 768px) {
    .editorContent.expanded {
      position: fixed;
      top: 0;
      right: 0;
    }

    .toggleButton {
      position: fixed;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

.largeImage {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
